{{#link-to 'transactions.new'}}Create new transaction{{/link-to}}
<ul>
  {{#each model as |transaction| }}
    <li>
      <dl>
        <dt>Name:</dt>
        <dd>{{transaction.name}}</dd>
        <dt>Amount:</dt>
        <dd>{{transaction.amount}}</dd>
        <dt>Due Date:</dt>
        <dd>{{transaction.dueDate}}</dd>
        <dt>Account</dt>
        <dd>{{transaction.account.name}}</dd>
      </dl>
      {{#link-to 'transactions.edit' transaction}}Edit{{/link-to}}
    </li>
  {{/each}}
</ul>